* {
    box-sizing: border-box;
    color: #e3dacf;
    font-family: monospace;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: #222;
}

body > * {
    flex: 1 0 100%;
    text-align: center;
}

.rowContainer {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.button {
    background-color: #222;
    border: 0.2em solid #e3dacf;
    border-radius: 1em;
    width: 12em;
    height: 6em;
}

.button:hover {
    background-color: #333;
}

.button:focus {
    outline:0.2em solid #e3dacf;
}

.button:active {
    background-color: #e3dacf;
    color:#222;
}

.rowConstriction {
    flex: 0 1 45em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

.scoreContainer {
    border: 0.1em solid #e3dacf;
    border-radius: 0.5em 0.5em 0 0;
    padding: 1em;
    margin-bottom: 0.5em;
}

.scoreContainer > * {
    margin: 0;
}

.score {
    font-size: 2em;
}

.banterBoard {
    flex: 0 1 30em;
}

.banter {
    margin: 0;
    padding: 0.5em 1em;
    text-align: left;
}

.banter:nth-child(odd){
    background-color: #333;
}

.banter:first-child {
    font-weight: bold;
    color: #333;
    background-color: #e3dacf;
}

.controlContainer {
    display: flex;
    gap: 0.5em;
}

.button.control {
    width: 4.2em;
    height: 3em;
    flex: 1 1 auto;
}

#resetAll {
    border-radius: 0 0 0 0.5em;
}

#resetBanter {
    border-radius: 0 0 0.5em 0;
}

.hidden {
    display: none;
}

.winnerPane {
    background-color: #e3dacf;
    color:#222;
    font-weight: bold;
    border-radius: 0.5em;
    width: 100%;
    padding: 1em;
    margin-top: 1em;
}